    @import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
     :root {
        --font-stack: "Fugaz One", cursive;
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .header {
        height: 10vh;
        background-color: #ff206e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 1.6em;
        color: #fff;
        font-family: var(--font-stack);
    }
    
    .map {
        height: 90vh;
        width: 100vw;
    }
    /* Sidebar Stylings */
    
    .sidebar {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 15px;
        transition: 0.5s;
        z-index: 2;
    }
    
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ff206e;
        display: block;
        transition: 0.3s;
        font-family: var(--font-stack);
    }
    
    .sidebar .closeBtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .opaque {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        background-color: black;
        /* filter: alpha(opacity=30); */
        opacity: 0.3;
    }
    /*Scooter information design*/
    
    .info {
        text-align: center;
        margin: 30px;
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: medium;
    }
    
    th {
        text-align: left;
        padding: 20px;
    }
    
    td {
        text-align: right;
        padding: 20px;
    }
    
    .rows {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn {
        color: white;
        padding: 14px 20px;
        margin: auto;
    }
    
    input[type=button] {
        background-color: lightgrey;
        color: black;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 10em;
    }
    
    input[type=button]:hover {
        background-color: grey;
    }
    
    #arrow {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    
    h3 {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid grey;
        line-height: 0.1em;
        margin: 50px 0 20px;
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h3 span {
        background: #fff;
        padding: 0 10px;
    }