/* Google Fonts Importing */

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*
font-family: "Fugaz One", cursive;
font-family: 'Roboto', sans-serif; 
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  background-color: #ff206e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.6em;
  color: #fff;
  font-family: "Fugaz One", cursive;
}

.header p {
  flex-grow: 3;
  text-align: center;
}

.logo {
  height: 32px;
  width: 32px;
}

.map {
  height: 90vh;
  width: 100vw;
}

/* Sidebar Stylings */

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 2;
  display: flex;
}

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #ff206e;
  display: block;
  transition: 0.3s;
  font-family: "Fugaz One", cursive;
}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.opaque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  background-color: black;
  /* filter: alpha(opacity=30); */
  opacity: 0.3;
}

/* Sidebar Divs*/

.sidebar-grid-item {
  justify-self: left;
  align-self: center;
  padding-left: 12px;
}

.sidebar-grid-icon {
  justify-self: center;
  align-self: center;
}

.sidebar-icons {
  width: 20%;
  background: lightgray;
  display: grid;
  grid-template-rows: repeat(6, 60px);
}

.sidebar-icons img {
  width: 90%;
  border-radius: 50px;
}

.sidebar-text {
  width: 80%;
  background: white;
  display: grid;
  grid-template-rows: repeat(6, 60px);
}

.sidebar-user {
  font-family: "Roboto", sans-serif;
}

.sidebar .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

/* Dark Mode Slider Stylings */

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* The slider itself */

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 60%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 50%;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ff206e;
}

.slider::-moz-range-thumb {
  width: 50%;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ff206e;
}

/*Scooter information design*/

.info {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

table {
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: medium;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  text-align: right;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btn {
  background-color: lightgrey;
  color: black;
  padding: 14px 10px;
  margin: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 50%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid grey;
  line-height: 0.1em;
  margin: 50px 0 20px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
}

h3 span {
  background: #fff;
  padding: 0 10px;
}

.scooterInfoTitle,
.instructionTitle {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid grey;
  line-height: 0.1em;
  margin: 30px 0 20px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
}

.scooterInfoTitle span,
.instructionTitle span {
  background: #fff;
  padding: 0 10px;
}

iframe {
  height: 60vh;
  width: 80vw;
  border: none;
}

/*Notifcation Section*/

.scooter-header {
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

.scooter-column {
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  margin-top: 10px;
}

.item-image {
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.notif-time {
  float: right;
  width: 100%;
  text-align: right;
  padding: 5px;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.scooter-title {
  font-size: larger;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.scooter-info {
  padding: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/*Closing button 'X'*/

.close {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 3%;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 30px;
  width: 2px;
  top: 80px;
  right: 10px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.supportlinks {
  text-decoration: none;
  color: #000;
}

.supportlinks:hover {
  color: #ff206e;
}

/* contact page */

p.contact {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

/* locate Button design */

.locateBtn {
  width: 40vw;
  background-color: #ff206e;
  color: #fff;
  position: absolute;
  left: 30vw;
  bottom: 14%;
  z-index: 400;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 30px;
  outline: none;
  font-family: "Fugaz One", cursive;
  border: none;
}

.locateOptionsBtn {
  width: 40vw;
  position: absolute;
  left: 30vw;
  bottom: 7%;
  z-index: 400;
  padding: 4px;
  border-radius: 15px;
  border: none;
  color: #ff206e;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Popup design when locate button is clicked */

.nearby {
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  background-color: #f1f1f1;
  transition: 0.5s;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.closePopup {
  position: absolute;
  top: 0;
  right: 5px;
  text-decoration: none;
  color: #333;
}

.nearbyHeader {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 5px;
}

.nearbyScooters {
  height: 150px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  display: inline-block;
}

.scooterImg {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.scooter-info {
  position: absolute;
  bottom: 8px;
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Locate options modal stylings */
.locateOptionsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.locateOptionsContent {
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

/* Icon options stylings */
.iconOptions {
  position: fixed;
  bottom: 7%;
  left: 0;
  z-index: 999;
  height: 15vh;
  width: 28vw;
  margin: 0 1vw;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.iconOptions p {
  font-weight: bold;
  text-align: center;
}

.scooter-infoPopup {
  position: absolute;
  bottom: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.icons {
  height: 50px;
  width: 50px;
}

.instructions {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 15px;
}

.text {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.video {
  width: 100%;
  padding: 10px;
}

.backArrow {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 40px;
}
