/* Google Fonts Importing */

@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*
font-family: "Fugaz One", cursive;
font-family: 'Roboto', sans-serif; 
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    background-color: #ff206e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.6em;
    color: #fff;
    font-family: "Fugaz One", cursive;
}

.header p {
    flex-grow: 3;
    text-align: center;
}

.logo {
    height: 32px;
    width: 32px;
}

.map {
    height: 90vh;
    width: 100vw;
}


/* Sidebar Stylings */

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s;
    z-index: 2;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ff206e;
    display: block;
    transition: 0.3s;
    font-family: "Fugaz One", cursive;
}

.sidebar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.opaque {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-color: black;
    /* filter: alpha(opacity=30); */
    opacity: 0.3;
}


/*Scooter information design*/

.info {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: medium;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    text-align: right;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.btn {
    background-color: lightgrey;
    color: black;
    padding: 14px 10px;
    margin: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 50%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid grey;
    line-height: 0.1em;
    margin: 50px 0 20px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
}

h3 span {
    background: #fff;
    padding: 0 10px;
}

iframe {
    height: 60vh;
    width: 80vw;
    border: none;
}


/*Notifcation Section*/

.scooter-header {
    font-weight: bold;
    font-size: 2.0em;
    color: #333;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}

.scooter-column {
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    margin-top: 10px;
}

.item-image {
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.notif-time {
    float: right;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.scooter-title {
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.scooter-info {
    padding: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


/*Closing button 'X'*/

.close {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 3%;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 30px;
    width: 2px;
    top: 80px;
    right: 10px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.supportlinks {
    text-decoration: none;
    color: #000;
}

.supportlinks:hover {
    color: #ff206e;
}